<div class="background">
  <div class="col-6 login">
  <form action="/sessions/create" method="POST">

  <div class="">
        <input class="form-control mr-sm-2 {{#if errors.email}}is-invalid{{/if}}" id='email' name="email" type="text" placeholder="Email" style="width:100%;" value="{{user.email}}"><br>
        {{#if errors.email}} <small style="color:red;">{{errors.email}}</small> {{/if}}
  </div>

  <div class="form-group">
     <input class="form-control mr-sm-2 {{#if errors.password}}is-invalid{{/if}}" id="password" name="password" type="password" placeholder="Password" style="width:100%;"><br>
     {{#if errors.password}} <small style="color:red;">{{errors.password}}</small>{{/if}}
  </div>
  <a href="/users/create" class="btn_log">Want to register?</a>
  <button type="submit" class="btn btn-primary btn-sm">Log in</button>
</form>
</div>

</div>